.attribution.
    Challenge by #[a(href="https://www.frontendmentor.io?ref=challenge" target="_blank") Frontend Mentor]
    #[br] 
    Coded by #[a(href=linkRepo) Valentín Eduardo González Morales]
    