extends ./layout.pug
block content
    .container
        header.header
            h1.header__title Simple, traffic-based pricing
            p
                | Sign-up for our 30-day trial. 
                br
                | No credit card required. 
        section.card
            .card__section.card__section--top
                h3.card__title
                    span.card__viewers
                    | 
                    | Pageviews
                input.card__range(id='myrange',type="range", min="0", max="4", value="0", step="1")
                .card__monthly-price
                    span.card__price.
                        
                    | /month
                .card__billing-type
                    | Monthly Billing
                    label.switch(for="discount_checkbox")
                        input.switch__checkbox(type="checkbox", id="discount_checkbox")
                        span.switch__slider
                    | Yearly Billing #[span.card__discount -25% #[span.card__discount-word discount]]
            .card__section.card__section--bottom
                ul
                    li #[span.card__list-icon] Unlimited websites
                    li #[span.card__list-icon] 100% data ownership
                    li #[span.card__list-icon] Email reports
                button.card__button Start my trial