// @import "reset";
@import "variables";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: $very-pale-blue url('../images/bg-pattern.svg') no-repeat;
}

.container {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  color: $grayish-blue;
  font-family: $basefont;
  font-size: $font-size;
  font-weight: $weight-normal;
}

.header {
  margin: 80px auto 50px auto;
  padding: 10px;
  position: relative;

  &::after{
    content: " ";
    min-height: 160px;
    right: 0;
    top: 0;
    left: 0;
    bottom:0;
    z-index: -1;
    position: absolute;
    display: inline-block;
    background: url("../images/pattern-circles.svg") center center no-repeat;
        background-size: auto;
  }
  &__title{
    margin: 10px 0;
    color: $dark-desaturated-blue;
    font-size: $font-size*1.5;
    font-weight: $weight-bold;
  }
  p{
    line-height: $font-size *2;
  }
}

.card {
  min-height: 60vh;
  background-color: $white;
  display: flex;
  flex-direction: column;
  border: 1px solid $soft-cyan;
  border-radius: 8px;

  &__section{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &--bottom{
      border-top: 2px solid $very-pale-blue;
      ul {
        list-style: none;
        // border: 1px solid red;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
  }

  &__title {
    text-transform: uppercase;
  }

  &__monthly-price {
    position: relative;
    
  }
  &__price {
    position: relative;
    left: -5px;
    bottom: -3px;
    color: $dark-desaturated-blue;
    font-weight: $weight-bold;
    font-size: $font-size * 2;
  }

  &__button{
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    color: $pale-blue;
    background-color: $dark-desaturated-blue;
  }

  &__list-icon {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url('../images/icon-check.svg');
    background-size: cover;
    margin: 0 10px 0 0;
  }
  &__range {
    width: 90%;
    outline: none;
    background-color: $light-grayish-blue;
    border-radius: 5px;
    height: 10px;
    
    &::-moz-range-thumb{
      @extend %thumb;
    }

    &::-moz-range-track {
      @extend %track;
    }

    &::-webkit-slider-runnable-track {
      @extend %track;
    }

    &::-webkit-slider-thumb {
      @extend %thumb;
    }
}

  &__discount-number {
    padding: 2px 10px;
    border-radius: 25px;
    color: $light-red;
    background-color: $light-grayish-Red;
    font-weight: 800;
  }
  &__discount-word{
    display: none;
  }
  &__billing-type{
    margin: 10px -12px 0 0;
  }
}

.switch {
  margin: 0 12px;
  width: 46px;
  height: 24px;
  position: relative;
  display: inline-block;
  border-radius: 15px;
  background-color: $soft-cyan;
  transition: 0.5s;

  &__checkbox{
    visibility: hidden;
  }

  &__slider{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    transition: 0.5s;

    &::before{    
    content: '';
    position: inherit;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    background-color: $white;
    }
  }

  &__checkbox:checked + &__slider{
    transform: translateX(22px);
  }
} 